.parrot { color: #FF7700; }
.godfat { color: #BB0077; }

.shadow {color: #FF0000;}
.hunter  {color: #0000FF;}
.neutral {color: #CC33FF;}

.werewolf {color: #FF0000;}
.villager {color: #000000;}
.augurer  {color: #990099;}
.guard     {color: #3399FF;}

.lover   {color: #FF69B4}
.religion {color: #EEAA55}
.guardian {color: #009900}